<!DOCTYPE html>
<html lang="de">
  <head>
    <title>AUDA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
      .jumbotron {
        padding-top: 10px;
        padding-bottom: 10px;
      }

      body {
        text-align: center;
      }

      .btn-secondary:hover {
        background: url("https://media.giphy.com/media/u5bbqJE63sBGM/giphy.gif");
        background-position: center;
        background-size: cover;
        color: transparent;
      }
    </style>
  </head>

  <body>
    <div
      class="jumbotron bg-secondary text-white text-center"
      style="margin: bottom 0"
    >
      <h1>
        AUDA<br />
        Die Autodatenbank deines Vertrauens
      </h1>
      <p>Finde spannende Daten über fast jedes Auto</p>
    </div>
    <div class="col-sm-12">
      <div class="container">
        <h1>HERZLICH WILLKOMMEN BEI DER AUTODATENBANK</h1>
        <br />
        <h2>Wenn Autos Dein Ding sind, bist Du hier genau richtig.</h2>
        <br />
        <p>
          Wir haben für dich eine Datenbank entwickelt,
          <br />
          in der du sämtliche Daten von den unterschiedlichsten Autos finden
          kannst.
          <br />
          Egal welche Daten dich interessieren, ob Kraftstoffverbrauch, PS-Zahl
          oder
          <br />
          die Maximalgeschwindigkeit eines Fahrzeugs - hier wirst du fündig!
          <br />
        </p>
        <br />
        <h3>
          Um jetzt loszulegen, drück den "Start"-Button:
          <br />
          <br />
        </h3>
        <button
          routerLink="/OverviewPage"
          type="button"
          class="btn btn-secondary btn-lg"
        >
          Los Gehts !
        </button>
        <br />
        <br />
      </div>
    </div>

    <div
      class="jumbotron bg-secondary text-white text-right"
      style="margin: bottom 0px"
    >
      <button type="button" class="btn btn-primary btn-sm">
        Datenbank initialisieren
      </button>
    </div>
  </body>
</html>
